$spacer: 1rem;
$font-family-sans-serif: "MontserratVariable",
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // older macOS and iOS
    "Helvetica Neue" // Linux
    "Noto Sans",
    "Liberation Sans",
    // Basic web fallback
    Arial,
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Merriweather", "Georgia", Cambria, "Times New Roman", Times,
    serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$line-height-base: 1.5;

$default-font-size: $font-size-base;
$default-line-height: $line-height-base;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

$headings-margin-bottom: $spacer * 0.5;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

// Breakpoints

// don't actually use the below `for-phone-only` mixin, but it's here for reference
// follow mobile first approach
@mixin for-phone-only {
    @media (max-width: 576px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 577px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}
