.container {
    padding: 2rem;
    text-align: center;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em;

    margin: 1rem;

    margin-left: 10em;
    margin-right: 10em;

    // Add a border
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .inner-flex {
        margin-left: 0;
        margin-right: 0;
    }
}
