@import "variables";
@import "containers";

.container {
    @include generic-container;
    text-align: center;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em;

    margin: 1rem;

    margin-left: 0;
    margin-right: 0;

    // Add a border
    border: 1px solid #ccc;

    @include for-tablet-portrait-up {
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
    @include for-tablet-landscape-up {
        margin-left: 7em;
        margin-right: 7em;
    }
    @include for-desktop-up {
        margin-left: 10em;
        margin-right: 10em;
    }
}
